<form (submit)="submit(); $event.preventDefault()" class="card p-4 shadow-sm mx-auto mt-5" style="max-width: 400px;" autocomplete="off" novalidate>
	<h2 class="mb-4 text-center">Iniciar sesión</h2>
	<div class="mb-3">
		<label for="email" class="form-label">Email</label>
		<input id="email" type="email" [value]="email()" (input)="updateEmail($event)" autocomplete="username" class="form-control" [class.is-invalid]="isEmailInvalid()" />
		@if (isEmailInvalid()) {
			<div class="invalid-feedback">Email inválido</div>
		}
	</div>
	<div class="mb-3">
		<label for="password" class="form-label">Contraseña</label>
		<input id="password" type="password" [value]="password()" (input)="updatePassword($event)" autocomplete="current-password" class="form-control" [class.is-invalid]="isPasswordInvalid()" />
		@if (isPasswordInvalid()) {
			<div class="invalid-feedback">Contraseña requerida (mínimo 4 caracteres)</div>
		}
	</div>
	<button type="submit" [disabled]="loading()" class="btn btn-primary w-100">
		@if (!loading()) {
			Entrar
		}
		@if (loading()) {
			<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
		}
	</button>
	<!--
	<button type="button" class="btn btn-outline-secondary w-100 mt-2" (click)="skipLogin()" [disabled]="loading()">
		Saltar login (cliente)
	</button>
	<button type="button" class="btn btn-outline-warning w-100 mt-2" (click)="skipLoginAsAdmin()" [disabled]="loading()">
		Saltar login (admin)
	</button>
	-->
	@if (error()) {
		<div class="alert alert-danger mt-3">{{ error() }}</div>
	}
  <div>
	<p class="text-center mt-3 mb-0">¿No tienes cuenta? <a routerLink="/register">Regístrate</a></p>
    <p class="text-center mt-2 mb-0"><a routerLink="/forgot-password">¿Olvidaste tu contraseña?</a></p>
  </div>
</form>
